<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Voucher</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/voucher">Voucher</a></li>
						<li class="breadcrumb-item active">Tambah</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<!-- /.card-header -->
					<div class="card-body">
						<div class="col-md-6">
							<!-- general form elements -->
							<div class="card card-primary">
								<div class="card-header">
									<h3 class="card-title">Form Tambah Voucher</h3>
								</div>
								<!-- /.card-header -->
								<!-- form start -->
								<form action="/nominal/create" method="POST">
									<div class="card-body">
										<div class="form-group">
											<label for="name"> Name</label>
											<input name="name" type="text" class="form-control" id="name"
												placeholder="Masukkan nama game">
										</div>
										<div class="form-group">
											<label>Kategori</label>
											<select class="form-control select2" style="width: 100%;" name="coinName"
												required>
												<option selected="selected">Pilih kategori</option>
												<% category.forEach((category)=>{%>
												<option value="<%= category._id %>"><%= category.name %></option>
												<%})%>

											</select>
										</div>
										<div class="select2-purple">
											<div class="form-group">
												<label>Nominal</label>
												<select data-placeholder="Pilih nominal" class="form-control select2"
													multiple="multiple" style="width: 100%;" name="nominal" required>
													<% nominal.forEach((nominal)=>{%>
													<option value="<%= nominal._id %>"><%= nominal.coinName %>
														<%= nominal.price %></option>
													<%})%>
												</select>
											</div>
										</div>

									</div>
									<!-- /.card-body -->

									<div class="card-footer">
										<button type="submit" class="btn btn-primary">Simpan</button>
									</div>
								</form>
							</div>
							<!-- /.card -->
						</div>
					</div>
					<!-- /.card-body -->
					<!-- /.card -->
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>
<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>